.App {
  text-align: center;
  margin-left: 25%;
  background-color: ghostwhite;
  box-shadow: 20px 20px 10px rgb(63, 61, 61);
  height: auto;
  line-height: 20px;
  margin-right: 25%;
  padding: 40px;
  margin-top: 2%;
}

.app_form{
  background-color: #ccc;
  padding:20px;
  position: fixed;
  bottom : 0;
  z-index:1;
  width: 43%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: -10px;
}
.app_Input{
  flex: 1;
}